.podcastBtnWrapper {
display: flex;
align-items: center;
justify-content: space-between;
/* gap: 300px; */
color: rgb(32, 171, 210);
background-color: white;
border: 1px solid lightgray;
padding: 0.75rem 1rem;
border-radius: 5px;
font-size: 1.2rem;
font-weight: bold;
cursor: pointer;
max-width: 400px;
width: 100%;

}
.chevronRight {
  color: lightgray;
}

.btnContainer {
  padding: 1rem;
  display: flex;
  justify-content: center;
}