.bunzl-wrapper {
  display: grid;

  .linkedin-wrapper {
    grid-area: 1/1;
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
  }
  footer {
    grid-area: 1/1;
    background-color: rgb(8, 30, 85);
    color: white;
    padding: 1rem;
  }

  .show-text {
    display: none;
  }

  .linked-in-text {
    display: none;
  }

  .bunzl-copyright-text {
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media screen and (min-width: 800px) {
    footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .show-text {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .show-text:hover {
      color: rgb(132, 183, 84);
    }

    .down-arrow {
      font-size: 1.5rem;
    }

    .linked-in-text {
      display: flex;
      align-items: center;
      padding: 0.5rem;
      background-color: white;
      color: rgb(8, 30, 85);
      border-radius: 1000px;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}
