@import url('https://fonts.googleapis.com/css?family=Roboto');

.adventuresWrapper {
  height: 100vh;
  background-image: url(./private-beach.jpeg);
  background-size: cover;
  background-position: center;
  font-family: 'Roboto';
}

.privateBeach {
  width: 100%;
}

.logoWrapper {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.faCircleTop,
.faCircleBottom {
  height: 20px;
  width: 20px;
}

.faCircleBottom {
  align-self: flex-end;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding-bottom: 1.5rem;
  padding-top: 3rem;
}

.rightNav {
  display: none;
}

.burger {
  display: flex;
  font-size: 1.75rem;
  color: black;
}

.burgerWrapper {
  cursor: pointer;
  position: relative;
  padding: 0.5rem;
}

.burgerWrapper:hover {
  background-color: white;
}
.dropdown {
  display: none;
  position: absolute;
  right: 0px;
  top: 100%;
  background-color: white;
  padding: 0.5rem;
  box-shadow: 0 2px 6px -1px rgba(0,0,0,0.2);
}

.dropdown p {
  padding: 0.5rem;
  padding-right: 5rem;
}

.dropdown p:hover {
  text-decoration: underline;
}

.burgerWrapper:hover .dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.navWrapper {
  padding: 1rem 2rem;
  /* filter: blur(0px); */

}

.adventurersWelcomeHeader {
  font-size: 2rem;
}

@media screen and (min-width: 700px) {
  .rightNav {
    display: flex;
    align-items: center;
    gap: 4rem;
  }
  .burgerWrapper {
    display: none;
  }

  .adventurersWelcomeHeader {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1000px) {
  .rightNav {
    gap: 6rem;
  }
}

.adventuresWelcomeWrapper {
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.escapeText {
  text-decoration: underline;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  transition: gap 0.25s;
}

.chevronRight {
  color: gray;
}
.escapeText:hover {
  gap: 0.5rem;
}
