.sidebar {
  background-color: rgb(16,36,75);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  // width: fit-content;
  max-width: 400px;
  // height: 100%;
  // border: 5px solid red;
}

.sidebar > div {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
}

.sidebar > div:hover {
  background-color: rgb(24, 53, 110);

}

.sidebar-icon {
  font-size: 2rem;
}

.sidebar-wrapper {
  // border: 1px solid red;
  // height: 100%;
}

.sidebar-text {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}