.subscribe-wrapper {
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif;
  max-width: 360px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 1rem;

  .subscribe {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .subscribe-to-premium-text {
    font-weight: bold;
    font-size: 1.4rem;
  }

  .subscribe-btn {
    width: fit-content;
    font-weight: bold;
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 1000px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}
