h1[class='component-library-header'] {
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid black;
  font-size: 1.5rem;
  background-color: lightgray;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

p {
  margin: 0;
}

.home-link {
  border: 1px solid black;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.home-link:hover {
  background-color: lightgray;
}

.back-link {
  border: 1px solid black;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem;
  /* border: 5px solid red; */

}

.back-link:hover {
  background-color: lightgray;
}

.documentation-text {
  padding: 1rem;
  max-width: 1000px;
}

.documentation-text > p {
  padding: 1rem;
}

a {
}

.not-found-wrapper {
  /* padding: 1rem; */
}

.back-link-wrapper {
  border-bottom: 1px solid black;
  /* border: 5px solid red; */
}

.react-router-link {
  width: fit-content;
}

.home-container {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.home-text {
  padding: 1rem;
  padding-bottom: 0;
  font-weight: bold;
  font-size: 1.5rem;
}

.unstyled-link {
  text-decoration: none;
  color: black;
}
