h1 {
margin: 0;
padding: 1rem;
border-bottom: 1px solid black;
font-size: 1.5rem;
background-color: lightgray;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Verdana, sans-serif;
}

p {
  margin: 0;
  font-size: 1.5rem;
}


.home-link {
  border: 1px solid black;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.home-link:hover {
  background-color: lightgray;
}

.back-link {
  border: 1px solid black;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  margin: 1rem;
}

.back-link:hover {
  background-color: lightgray;
}

.documentation-text {
  padding: 1rem;
  max-width: 1000px;
  /* text-align: justify; */
}

.documentation-text > p{
  padding: 1rem;
}